body{
    margin: 0;
}
/************************* navigation bar ****************************8*/
.nav{
    background-color: rgb(62, 84, 163);
    text-align: center;
    
}
.nava{
    color: white;
    font-family: Barlow, sans-serif;
    font-weight: 700;
}
.icon{
width: 20px; 
margin: 0 10px 0 0;
padding: 10px 0 10px 0;
}
.heading{
    margin: 0px;
    display: inline;
    color: white;
    padding: 10px 0 10px 0;
    position: relative;
    bottom: 15px;
    font-size: 1.05rem;
    font-family: Barlow, sans-serif;
    font-weight: 500;
}
/************************* navigation bar 2 ****************************8*/
.nav2{
    position: relative;
    margin: 5px 0 0px 0;
    padding: 10px;

}
.logo{
    position: relative;
    top: 5px;
    left: 50px;
}
.nav2-1{
position: absolute;
right: 250px;
bottom: 5px;
top: 15px;
}
.nav2-2{
    position: absolute;
    right: 100px;
    top: 5px;
    bottom: 5px;
    background-color: black;
    color: white;
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    font-family: Barlow, sans-serif;
    font-weight: 700;
}
.diva{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    font-style: italic;
    font-weight: bold;
    font-family: Barlow, sans-serif;
    font-weight: 700;
}
.diva:hover{
    text-decoration: 2px underline red;
    

}
.pro{
    background-color: rgb(62, 84, 163);
    padding: 5px;
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px ;
    width: 30px;
    font-family: Barlow, sans-serif;
    font-weight: 700;
    font-style: normal;
}
hr{
    opacity: 0.4;
    margin: 0;
}
/************************* navigation bar 3 ****************************8*/
.nav3{
    position: relative;
    bottom: 0px;
    left: 60px;
    margin: 10px;
}
.nav3ds{
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
    display: inline-block;
    border-top: none;
    border-bottom: none;
    font-family: Barlow, sans-serif;
    font-weight: 700;
}
/************************* div 4 ****************************8*/
.div4{
    width: 50%;
}
.div4img{
    width: 600px;
    margin-top: 30px;
    margin-left: 40px;
}
#ul1{
    list-style-type: none;
    margin-top: 20px;
}
.services{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-style: italic;
    background-color: lightgray;
    color: grey;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    font-family: Barlow, sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.services:hover{
    background-color: rgb(62, 84, 163);
    color: white;
    cursor: pointer;
}
/************************* div 4-2 ****************************8*/
.div4-2{
    position: relative;
    
}
#ul2{
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 10px;
    position: absolute;
    right: 100px;
    bottom: 415px;
}
.service21{
    float: left;
    font-family: Barlow, sans-serif;
    background-color: rgb(244, 137, 37);
    color: white;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.service22{
    float: left;
    font-family: Barlow, sans-serif;
    color: skyblue;
    font-weight: 700;
    
    padding: 5px 5px 5px 10px;
}
.service23{
    float: left;
    font-family: Barlow, sans-serif;
    color: rgb(62, 84, 163);
    font-weight: 700;
    
    padding: 5px 5px 5px 10px;
}
.service24{
    float: left;
    font-family: Barlow, sans-serif;
    color: palevioletred;
    font-weight: 700;
    margin-right: 10px;
    padding: 5px 5px 5px 10px;
}

.service25{
    float: left;
    font-family: Barlow, sans-serif;
    padding: 5px 10px 5px 0px;
    color: hsl(45,97%,48%);
    font-weight: 700;
    border: 0.3px solid hsl(45,97%,48%);
    border-width: 0.3px;
    margin-left: 200px;

}
.li1s{
    background-color: hsl(45,97%,48%);
    color: white;
    font-family: Barlow, sans-serif;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
}
.des1{
    position: absolute;
    right: 290px;
    bottom: 300px;
    font-family: Barlow, sans-serif;
    width: 50%;
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 500;
    width: 375px;
    color: rgb(28, 32, 34);
    display: inline-block;
}
.des2{
    width: 600px;
    position: absolute;
    right: 50px;
    bottom: 240px;
    font-family: Barlow, sans-serif;
    width: 45%;
    padding: 10px;
    color:  rgb(115, 115, 115);
}
 #ul3{
    list-style: none;
    padding: 0;
  }
  
  #ul3 li:before {
    content: '✓';
    color: green;
    padding-left: 5px;
  }
  .div4-3{
    background-color: rgb(240, 244, 244);
    border-radius: 10px;
    width: 40%;
    position: absolute;
    right: 90px;
    bottom: 20px;
    font-family: Barlow, sans-serif;
    padding: 20px;

  }
  .div4h3{
    font-family: Barlow, sans-serif;
    margin: 0;
  }
  .asset{
    width: 450px;
    font-size: 0.9rem;
  }
  .btn {
    width: 25%;
    text-align: center;
    position: absolute;
    right: 310px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Barlow, sans-serif;
    font-style: italic;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    background: rgb(237, 44, 73);
    padding: 10px 10px 10px 10px;
    text-decoration: none;
  }
  
  .btn:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.7;
  }
  .btnp{
    margin: 0 60px 0 60px;
    width: 200px;
    text-align: center;
  }